body{
  font-family:"Arial", Serif;
  background-color:#f4f4f4;
  overflow-x:hidden;
}

.open-slide{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
  transition:0.3s;
}

.side-nav{
  height:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
  font-size: 24px;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

body.active {
  background-color: #332E2E;
}
#main.active svg path{
  stroke: #f4f4f4;
}
#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

#cell-container{
  margin-left: 15%;
  margin-right: 5%;
  transition: 0.5s;
}
#cell{
  position: relative;
  display: inline-block;
  height: 350px;
  width: 300px;
  margin-top: 20px;
  margin-left:20px;
  background-color: grey;
}
#cell:hover{
  background-color: darkblue;
  transition: 0.5s;
}

.button{
  width: 150px;
  height: 30px;
  background-color: black;
  display: block;
  border: solid #000;
  border-radius: 34px;
  position: relative;
  top: 80%;
  left: 25%;
  color: #ccc;
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
}

.button:hover{
  /*background-color:#ccc;
  color: black;*/
  transition: 0.5s;
  /*top: 75%;*/
  padding-top: 8px;
}
@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  right:4%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  /*-webkit-transition: .4s;*/
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  /*-webkit-transform: translateX(26px);*/
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
